<h4>Bitjes bot info</h4>
<table class="striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Open requests</td>
            <td>{{pending}}</td>
        </tr>
    </tbody>
</table>
@if !telegramLink
    <button disabled class="btn waves" id="connect-telegram">
        Connect Telegram!
    </button>
@else
    <h4>Your reminders</h4>
    @if reminders.length == 0
        <p>You have no reminders set</p>
    @endif
    <table id="reminders">
        <thead>
            <tr>
                <th>Time</th>
                <th>Reminder</th>
            </tr>
        </thead>
        <tbody>
            @for let reminder of reminders
                <tr>
                    <td>{{reminder.moment.format('dddd D MMMM H:mm')}}</td>
                    <td>{{reminder.text}}</td>
                </tr>
            @endfor
        </tbody>
        <tfoot>
            <tr>
                <td><input required placeholder="Pick a date" type="text" class="datepicker"></td>
                <td><input required placeholder="Pick a time" type="text" class="timepicker"></td>
            </tr>
            <tr>
                <td>
                    <div class="input-field">
                        <input required id="text" type="text" class="validate">
                        <label for="text">Reminder text</label>
                    </div>
                </td>
                <td>
                    <button id="add-reminder-btn" class="btn">Add!</button>
                </td>
            </tr>
        </tfoot>
    </table>
    <button disabled class="red btn" id="logout">
        Logout
    </button>
@endif
