<h4>Bitjes bot info</h4>
<table class="striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Open requests</td>
            <td>{{pending}}</td>
        </tr>
    </tbody>
</table>
@if !telegramLink
    <button class="btn waves" id="connect-telegram">
        Connect Telegram!
    </button>
@else
    <h4>Your reminders</h4>
    @if reminders.length == 0
        <p>You have no reminders set</p>
    @endif
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Reminder</th>
            </tr>
        </thead>
        <tbody>
            @for let reminder of reminders
                <tr>
                    <td>{{reminder.moment.format('dddd D MMMM H:mm')}}</td>
                    <td>{{reminder.text}}</td>
                </tr>
            @endfor
        </tbody>
    </table>
    <button class="red btn" id="logout">
        Logout
    </button>
@endif
