<div id="canvascontainer">
    <button id="joinbutton" class="btn green">Join game</button>
</div>
<div class="tabcontainer">
    <div class="tab" target="chat">
        Chat
    </div>
    <div class="tab" target="players">
        Players
    </div>
    <div id="chat">
        <table>
            <thead>
                <tr>
                    <th>From</th>
                    <th>
                        Message
                        <div class="right">
                            <input type="checkbox" id="system_message" checked>
                            <label for="system_message">Show system messages</label>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
                <td colspan="2">
                    <div class="input-field">
                        <input required id="chat-text" type="text">
                        <label for="chat-text">Send message</label>
                    </div>
                </td>
            </tfoot>
        </table>
    </div>
    <div id="players">
        <h4>Players</h4>
        <table>
            <thead>
                <th>Name</th>
                <th>Status</th>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>