<div id="canvascontainer">
    <button id="joinbutton" class="btn green">Join game</button>
</div>
<div id="chat">
    <h4>Chat</h4>
    <table>
        <thead>
            <tr>
                <th>From</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
            <td colspan="2">
                <div class="input-field">
                    <input required id="chat-text" type="text">
                    <label for="chat-text">Send message</label>
                </div>
            </td>
        </tfoot>
    </table>
</div>
<div id="players">
    <h4>Players</h4>
    <table>
        <thead>
            <th>Name</th>
            <th>Status</th>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>