#canvascontainer.disabled{
    display: none;
}
#canvascontainer{
    width: 100%;
    min-height: 700px;
    position: relative;
}
canvas{
    margin: auto;
    display: block;
}
#chat, #players{
    background-color: white;
}
#chat tbody, #chat thead, #chat tr{
    display: block;
}
#chat td, #chat th{
    display: inline-block;
    padding: 2px 5px;
}
#chat tbody{
    overflow-y: auto;
    height: 200px;
}
#chat tr{
    width: 100%;
}
#chat td:first-child, #chat th:first-child{
    width: 15%;
}
#chat td:nth-child(2), #chat th:nth-child(2){
    width: calc(85% - 4px) /* 4 px padding, 2 left, 2 right */
}
#chat tfoot td:first-child{
    width: 100%;
}
main.running{
    background-color: #FBB969;
}
main #canvascontainer{
    display: none;
}
main.running #canvascontainer{
    display: block;
}
#joinbutton{
    display: none;
}
.JoinGameState #joinbutton{
    margin: auto;
    display: inline-block;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 50px);
    font-size: 5em;
    height: 100px;
}