#canvascontainer.disabled{
    display: none;
}
#canvascontainer{
    width: 100%;
    min-height: 700px;
    position: relative;
}
canvas{
    margin: auto;
    display: block;
}
#chat tbody, #chat thead, #chat tr{
    display: block;
}
#chat td, #chat th{
    display: inline-block;
    padding: 2px 5px;
}
#chat tbody{
    overflow-y: auto;
    height: 200px;
}
#chat tr{
    width: 100%;
}
#chat td:first-child, #chat th:first-child{
    width: 15%;
}
#chat td:nth-child(2), #chat th:nth-child(2){
    width: calc(85% - 40px);
}
#chat .system td:first-child{
    width: 100%;
}
#chat tfoot td:first-child{
    width: 100%;
}
main.running{
    background-color: #FBA90A;
}
main #canvascontainer{
    display: none;
    max-width: 100%;
    max-height: 100%;
}
main.running #canvascontainer{
    display: block;
}
#canvascontainer canvas{
    max-height: 100%;
    max-width: 100%;
}
#joinbutton{
    display: none;
}
.JoinGameState #joinbutton{
    margin: auto;
    display: inline-block;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 50px);
    font-size: 5em;
    height: 100px;
}
.tabcontainer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
html, body, main.running{
    height: 100%;
}
.system{
    color: #FBA90A;
    font-style: italic;
}
#chat .hide-system .system{
    display: none;
}
.btn{
    background-color: #F7EBD4;
    color: black;
}
.btn:hover{
    background-color: #FBA90A;
}
.btn.selected{
    background-color: lime;
}